/************************************

              Utilities

************************************/

:root {
    --background-top-color: rgba(0, 150, 136, 1);
    --background-bottom-color: rgba(218, 219, 211, 1);
    --notify-menu-color: rgba(142, 218, 252, 1);
    --icons-font-color: rgba(177, 177, 177, 1);
    --secondary-font-color: rgba(206, 220, 239, 1);
    --header-footer-menu-color: rgba(209, 209, 209, 1);
    --lighter-color: white;
    --light-color: gray;
    --dark-color: black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cols*/
.col-1 {
    width: calc((100% / 12)* 1);
}

.col-2 {
    width: calc((100% / 12)* 2);
}

.col-4 {
    width: calc((100% / 12)*4);
}

.col-6 {
    width: 50%
}

.col-8 {
    width: calc((100% / 12)*8);
}

.col-12 {
    width: 100%
}

/*Rules*/
.m-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.gap2 {
    gap: 2rem;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

section {
    margin: 100px 0;
}

.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.debug {
    border: 1px dashed black;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

/*#region BACKGROUND*/
body {
    background: linear-gradient(to top,
            var(--background-bottom-color) 20% 80%,
            var(--background-top-color) 20%)
}

/*.background-top {
    width: 100vw;
    height: 20vh;
    background-color: var(--background-top-color);
    top: 0;
    z-index: -1;

}

.background-bottom {
    width: 100vw;
    height: 80vh;
    background-color: var(--background-bottom-color);
    bottom: 0;
    z-index: -1;
}*/

/*#endregion BACKGROUND*/

.layout {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-container {
    z-index: 1;
    height: 95%;
    display: flex;
}

.main-content {
    z-index: 1;
    height: 100%;
    width: 100%;
    justify-content: space-between;

}

/* LEFT*/
#left-container {
    height: 100%;
    flex-direction: column;
}

.left-header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-footer-menu-color);
}

.left-notify-menu {
    align-items: center;
    font-size: 0.8rem;
    background-color: var(--notify-menu-color);

    & a {
        color: var(--dark-color);
    }
}

.left-search-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;

}

.left-search-bar {
    background-color: var(--lighter-color);
    font-size: 0.8rem;
    align-items: center;
    gap: 1rem;
    padding: 0.2rem 2rem;
}

.contact-menu-container {
    flex-direction: column;
    /*overflow-y: scroll;*/
}

.contact {
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--lighter-color);
}

.contact-left {
    gap: 1rem;
    align-items: center;
}

.contact-img img {
    width: 50px;
    border-radius: 50%;
}

.contact-info>p,
.contact-timetable {
    color: var(--icons-font-color);
    font-size: 0.8rem;
}








/*RIGHT*/